/* Aqui importamos la fuente que acabamos de seleccionar de google */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Ubuntu', sans-serif;
}
/* le damos un fondo a nuestro curriculum */
body{
    background: linear-gradient(to right, #3C3B3F, #605C3C);
}
/*usando la clase urriculum le pondremos un fondo a nuestra info basica */
.curriculum{
    width: 800px;
    background: rgb(216, 198, 198);
    margin: 25px auto;
    display: flex;
}
/*ajuste del lado izquierdo de la info basica */
.left{
    background: #41536b;
    width: 250px;
    padding: 20px;
}
.right{
    width: calc(100% - 250px);
}
.left .img_holder{
    text-align: center;
    padding: 20px 0;
}
.left .img_holder img{
    width: 200px;
    border-radius: 30px;
}
.pb{
    padding-bottom: 20px;
}
.title{font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding-bottom: 10px;
    color: #081085;
    position: relative;
    text-align: right;
    margin-bottom: 15px;
}
.title:before{
    content: "";
    position: absolute;
    top: 35px;
    right: 0;
    width: 50px;
    height: 3px;
    background: #3f5efb;
}
.left .icon{
    font-size: 20px;
    color: #dee0eb;
}
.left .text{
    color: #dee0eb;
    /*text-transform: uppercase;*/
    font-size: 12px;
}
.contact .li_wrap{
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 15px;
}
.contact .li_wrap .icon{
    width: 40px;
    height: 40px;
    background: #1421668a;
    /* COMPLEMENTO A PRIMERA SESION */
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}
.contact .li_wrapv.text{
    width: calc(100% - 50%);
    /* parte de la segunda parte */
    word-break: break-word;
    color: #dee0eb;
}

/* ACA EMPIEZA LA SEGUNDA PARTE DEL DESARROLLO */

.skills ul, 
.hobbies ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.skills .li_wrap,
.hobbies .li_wrap{
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.skills .li_wrap {
    background-color: #1421668a;
}

.skills .li_wrap .text, 
.hobbies .li_wrap .text{
    margin-top: 5px;
}

.hobbies .li_wrap{
    border: 2px solid #dee0eb;
}

.hobbies .li_wrap .icon,
.hobbies .li_wrap .text{
    color:#dee0eb;
}
.hobbies .li_wrap:hover{
    background: #dee0eb;
}

/* aca le puedes cambiar el color de sombra cuando pases el cursos encima */
.hobbies .li_wrap:hover .icon,
.hobbies .li_wrap:hover .text{
    color: #108dc7;
}

.header{
    background: #41536b;
    padding: 15px 30px;
    color: #dee0eb;
    height: 240px;
}

.header .name{
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 700;
    color: #3525af;
}

.header .role{
    font-weight: 300;
    font-size: 20px;
}

.header .about{
    margin-top: 20px;
    line-height: 14px;
}

.right_inner{
    padding: 30px;
    color: 292b2f;
}

.right_inner .education{
    margin-top: 30px;
}

.right_inner .li_wrap{
    display: flex;
    margin-bottom: 15px;
}

/* fecha de realizacion*/
.right_inner .li_wrap .date{
    width: 125px;
    color: #3f5efb;
}

.right_inner .li_wrap .info{
    width: calc(100%-125px);
    padding-left: 25px;
    position: relative;
}

/*  titulos del lado derecho info general */
.right_inner .li_wrap .info_title{
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    color: #3f5efb;
}

.right_inner .li_wrap .info_com{
    font-weight: 300;
    font-size: 14px;
    margin-top: 3px;
}

.right_inner .li_wrap .info_cont{
    margin-top: 15px;
}

/* separadores de tiempo y dema info */
.right_inner .li_wrap .info:before{
    content: "";
    position: absolute;
    top: 3px;
    left: 0;
    width: 10px;
    height: 10px;
    background: #3f5efb;
    border-radius: 50%;
}

.right_inner .li_wrap .info:after{
    content: "";
    position: absolute;
    top: 10px;
    left: 4px;
    width: 2px;
    height: 90%;
    background: #3f5efb;
}